/* TODO 1: Element Selector */
p {
  color: red;
}

/* TODO 2: Class Selector */
.red-text {
  font-size: 20px;
}

/* TODO 3: ID Selector */
#main {
  color: green;
}

/* TODO 4: Attribute Selector */
li[value="4"] {
  color: blue;
}

/* TODO 5: Universal Selector */
* {
  font-family: Arial, sans-serif;
}
